* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #ececec;
}

.card {
  width: 42pt;
  padding: 4.5pt;
  color: #000;
  box-sizing: border-box;
  outline-style: none;
  border-style: solid;
  border-width: 1.2pt;
  border-color: #000;
  border-radius: 8pt;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2pt #fcfcfc;
  display: inline-block;
}

.card:before {
  content: '';
  font-family: serif;
  font-size: 22pt;
  font-weight: 700;
  text-align: center;
  display: block;
}

.card[data-rank=seven]:before { content: '7' }
.card[data-rank=eight]:before { content: '8' }
.card[data-rank=nine]:before { content: '9' }
.card[data-rank=sergeant]:before { content: 'U' }
.card[data-rank=officer]:before { content: 'O' }
.card[data-rank=king]:before { content: 'K' }
.card[data-rank=ten]:before { content: '10' }
.card[data-rank=ace]:before { content: 'A' }

.card:after {
  content: '';
  padding-top: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.card[data-suit=bell]:after { background-image: url('bell.svg'); }
.card[data-suit=heart]:after { background-image: url('heart.svg'); }
.card[data-suit=leaf]:after { background-image: url('leaf.svg'); }
.card[data-suit=acorn]:after { background-image: url('acorn.svg'); }

.active {
  font-weight: bold;
}

.trick {
  position: fixed;
  width: 100%;
  top: 45%;
  text-align: center;
}

.hand {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.hand > *:first-child { margin-left: 0; }
.hand > * { margin-left: -12pt; }

.toast {
  position: fixed;
  width: 100%;
  top: 30%;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s;
}

.toast > * {
  padding: 8pt 24pt;
  border-style: solid;
  border-width: 1pt;
  border-color: #a8a8a8;
  border-radius: 2pt;
  background-color: #fff;
  box-shadow: 0 2pt 6pt 1pt #bfbfbf;
  display: inline;
}


